/*TEXTO ARCOÃRIS*/

.arcoiris {
  /* font-family: monospace; */
  /* font-size: 3em; */
  animation: animacionArcoiris 4s infinite;
}

@keyframes animacionArcoiris {
  0% {
    color: red;
  }

  50% {
    color: blue;
  }

  100% {
    color: red;
  }
}

/*Texto que transita verticalmente*/
.contenedorTexto {
  color: #e5e5e5;
  /* font-size: 2.26rem; */
  text-transform: uppercase;
  /* height: 100px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.textoCambiante {
  height: 18px;
  max-height: 27px;
  overflow: hidden;
  /* margin-left: 1rem; */
}

.textoCambiante>div>div {
  /* padding: 0.25rem 0.75rem; */
  /* height:2.81rem; */
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  text-shadow: none;
}

.textoCambiante div:first-child {
  animation: textoCambiante 17s infinite;
}

.primero div {
  color: white;
  background-color: #20a7d8;
}

.segundo div {
  color: white;
  background-color: #e0a733;
}

.tercero div {
  color: white;
  background-color: #fc8003;
}

.cuarto div {
  color: white;
  background-color: #c10528;
}

.quinto div {
  color: white;
  background-color: #fc03fc;
}

/* @keyframes textoCambiante {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  19% {margin-top: -28px;}
  28% {margin-top: -56px;}
  37% {margin-top: -84px;}
  46% {margin-top: -112px;}
  55% {margin-top: -112px;}
  64% {margin-top: -84px;}
  73% {margin-top: -56px;}
  82% {margin-top: -28px;}
  100% {margin-top: 0;}
} */

@keyframes textoCambiante {
  0% {top: -2px;}
  10% {top: -2px;}
  19% {top: -33px;}
  28% {top: -65px;}
  37% {top: -97px;}
  46% {top: -130px;}
  55% {top: -130px;}
  64% {top: -97px;}
  73% {top: -65px;}
  82% {top: -33px;}
  /* 91% {top: -3px;} */
  100% {top: -2px;}
}

/*Efecto brillo azul*/

.centellear {
  color: #4db1bc;
  animation: brillar 2s ease-in-out infinite alternate;
}

@keyframes brillar {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

/*MODIFICADORES DE TEXTO*/

.textoNormal {
  font-family: 'Times New Roman', Times, serif;
}